@model FaktureApp.Models.Fakture.Faktura

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Faktura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BrojDokumenta" />
            <div class="form-group">
                <label asp-for="BrojFakture" class="control-label"></label>
                <input asp-for="BrojFakture" class="form-control" />
                <span asp-validation-for="BrojFakture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumDokumenta" class="control-label"></label>
                <input asp-for="DatumDokumenta" class="form-control" />
                <span asp-validation-for="DatumDokumenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ukupno" class="control-label"></label>
                <input asp-for="Ukupno" class="form-control" />
                <span asp-validation-for="Ukupno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
