@using WebApp.Resources
@{
    ViewBag.title = Resource.AboutUs;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
    <div> 
        
            <div id="aboutHeader" class="text-center">
                <h1>@Resource.AboutUs</h1>
            </div>
      
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
              

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tincidunt mattis. Ut vel elementum neque. Nulla placerat, neque ornare consectetur porta, massa mi eleifend est, et elementum massa libero ac eros. Nunc placerat risus posuere nunc malesuada, ac facilisis purus aliquet. Sed euismod pharetra egestas. In ac quam ut augue sodales vehicula nec non nisl. Suspendisse eget venenatis dolor, ut dapibus urna.</p>

                <p>Mauris a nibh nec dui tempus maximus. Praesent lorem eros, viverra nec aliquam ut, dignissim quis risus. Nam gravida enim luctus, porta orci sit amet, ornare justo. Duis vulputate at arcu sed pellentesque. Mauris iaculis non nulla sed dignissim. Vivamus in nunc fringilla, hendrerit dolor in, elementum turpis. Cras sed elit at odio tincidunt posuere. Suspendisse dictum commodo porttitor. Vestibulum auctor cursus dolor a consectetur. Nullam mauris nunc, interdum a nisi id, egestas tempor orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec tellus ut turpis malesuada consequat. Sed feugiat, lacus non blandit elementum, diam est imperdiet enim, porttitor laoreet eros mauris nec augue. Aliquam rutrum maximus enim, non sagittis leo. Nam efficitur dui ut egestas accumsan. Suspendisse ut pretium elit, in dapibus lacus.</p>

                <p>
                    Morbi laoreet feugiat pellentesque. Fusce sed scelerisque nulla. Sed sem tortor, ullamcorper non ipsum lobortis, facilisis auctor tellus. Etiam a scelerisque purus, ac congue magna. Cras et facilisis justo. Nam gravida mi a elit consectetur gravida. Praesent ut massa mi. Maecenas sollicitudin turpis nec magna aliquet elementum. Suspendisse vel interdum dui, nec aliquam magna. Vivamus consectetur diam pretium magna ultrices eleifend. Ut aliquet velit sed sapien scelerisque molestie. Vestibulum consequat erat est, non consequat tortor mollis sed. Praesent metus ex, ultricies et nunc quis, luctus lobortis tortor. Nulla porttitor lobortis velit, pellentesque dapibus libero dictum sit amet. Nunc lacinia consequat tincidunt. Quisque id pharetra ex.

                </p>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</body>
</html>
