@using WebApp.Resources
@{
    ViewBag.title = Resource.Error;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erorr</title>
</head>
<body>
    <div> 
        <p>@Resource.ErrorMsg</p>
    </div>
</body>
</html>
