USE [master]
GO
/****** Object:  Database [WirelessMediaDb]    Script Date: 8/4/2018 1:37:10 PM ******/
CREATE DATABASE [WirelessMediaDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WirelessMediaDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\WirelessMediaDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WirelessMediaDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\WirelessMediaDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WirelessMediaDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WirelessMediaDb]
GO
USE [WirelessMediaDb]
GO
/****** Object:  Table [dbo].[Proizvodi]    Script Date: 8/4/2018 1:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proizvodi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [varchar](50) NULL,
	[opis] [varchar](200) NULL,
	[kategorija] [varchar](50) NULL,
	[proizvodjac] [varchar](50) NULL,
	[dobavljac] [varchar](50) NULL,
	[cena] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Proizvodi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
