USE [master]
GO
/****** Object:  Database [FaktureDB]    Script Date: 1/29/2019 10:26:32 AM ******/
CREATE DATABASE [FaktureDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FaktureDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FaktureDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FaktureDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FaktureDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FaktureDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FaktureDB]
GO
USE [FaktureDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/29/2019 10:26:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faktura]    Script Date: 1/29/2019 10:26:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faktura](
	[BrojDokumenta] [nvarchar](450) NOT NULL,
	[BrojFakture] [nvarchar](10) NOT NULL,
	[DatumDokumenta] [datetime2](7) NOT NULL,
	[Ukupno] [float] NOT NULL,
 CONSTRAINT [PK_Faktura] PRIMARY KEY CLUSTERED 
(
	[BrojDokumenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stavka]    Script Date: 1/29/2019 10:26:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stavka](
	[RedniBroj] [int] NOT NULL,
	[BrojDokumenta] [nvarchar](450) NOT NULL,
	[Cena] [float] NOT NULL,
	[Kolicina] [float] NOT NULL,
	[Ukupno] [float] NOT NULL,
 CONSTRAINT [PK_Stavka] PRIMARY KEY CLUSTERED 
(
	[RedniBroj] ASC,
	[BrojDokumenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Stavka_BrojFakture]    Script Date: 1/29/2019 10:26:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_Stavka_BrojFakture] ON [dbo].[Stavka]
(
	[BrojDokumenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Stavka]  WITH CHECK ADD  CONSTRAINT [FK_Stavka_Faktura_BrojDokumenta] FOREIGN KEY([BrojDokumenta])
REFERENCES [dbo].[Faktura] ([BrojDokumenta])
GO
ALTER TABLE [dbo].[Stavka] CHECK CONSTRAINT [FK_Stavka_Faktura_BrojDokumenta]
GO
/****** Object:  Trigger [dbo].[Trg1]    Script Date: 1/29/2019 10:26:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[Trg1]

  ON[dbo].[Stavka]

    instead of INSERT
    AS

    declare @sid int
    declare @iid varchar(450)
    declare @kol float
    declare @cena float
    declare @ukupno float
    

	select @iid = BrojDokumenta from inserted
    select @kol = Kolicina from inserted
    select @cena = Cena from inserted
   select @ukupno = Ukupno from inserted


    if not exists(select * from Stavka where BrojDokumenta = @iid) set @sid = 1
	else set @sid = (select max(F.RedniBroj) + 1 from Stavka as F where F.BrojDokumenta = @iid )

	insert into Stavka values(@sid, @iid, @cena, @kol, @ukupno)
GO
ALTER TABLE [dbo].[Stavka] ENABLE TRIGGER [Trg1]
GO
USE [master]
GO
